@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



/* Colors needed in login*/
:root {
  --color-background: #f0f0f0;
  --color-text: #333;
  --color-border: #ccc;
  --color-placeholder: #777;
  --color-primary: #007bff;
  --color-primary-hover: #0056b3;
  --color-link: #1a73e8;
  --color-divider: #ddd;
  --color-social-hover: #f0f0f0;
  --color-floating-label: #5f6368;
  --color-white: #fff;
}

*{
 margin:0;
 padding: 0;
 box-sizing: border-box;
 font-family: "DM sans", sans-serif;
}

body{
  background-color: var(--color-background);
  color: var(--color-text);
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
}

.form-container{
  position: relative;
  background-color: var(--color-white);
  padding: 50px 40px;
  width: 100%;
  max-width: 450px;
  border-radius: 8px;
  border: 1px solid var(--color-border);
  overflow: hidden;
}

.form-header{
   position: relative;
   z-index: 1;
}

.form-header p {
  color: var(--color-placeholder);
}

.form-header h1{
  font-size: 32px;
}

.form-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
}

.input-group{
  position: relative;
  display: flex;
}

.input-field{
  height: 48px;
  padding-inline: 14px;
  border: 1px solid var(--color-border);
  border-radius: 6px;
  width: 100%;
  outline: none;
}

#password{
  padding-right: 38px;
}

.floating-label{
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  color: var(--color-placeholder);
  background-color: var(--color-white);
  padding-inline: 6px;
  transition: all .3s ease;
  pointer-events: none;
}

.input-field:focus ~ .floating-label,
.input-field:not(:placeholder-shown) ~.floating-label{
  top: 0;
  left: 8px;
  transform:translateY(-50%);
  font-size: 12px;
  color: var(--color-primary);
}

.input-field:focus{
  border-color: var(--color-primary);
}

.input-field:not(:focus):not(:placeholder-shown) ~ .floating-label {
  color: var(--color-floating-label);
}

.eye-icon{
  position: absolute;
  right: 70px;
  display: flex;
  top: 50%;
  transform: translateY(-50%)
}

.checkbox-group{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  font-size: 14px;
}

.remember-me {
  display: flex;
  align-items: center;
  gap: 5px;
}

.form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 48px;
  background: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding-inline: 8px;
}

.form-btn--submit{
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;
  transition: background-color .3s ease;
}

.form-btn--submit:hover{
  background-color: var(--color-primary-hover);
}

.form-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.form-divider{
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 14px;
  color: var(--color-placeholder);
  margin-top: 20px;
}

.form-divider:before,
.form-divider::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: var(--color-divider);
}

.form-socials {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}


.form-btn--social{
  border: 1px solid var(--color-divider);
  transition: 3s ease;
}

.form-btn--social:hover{
  background-color: var(--color-social-hover);
}

.btn-icon{
  width: 30px;
}

.form-link{
  color: var(--color-link);
}

.form-link:hover{
  text-decoration: none;
}
